<!doctype html>
<html lang="en" ng-app="techChallenge">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Woman on Bussiness</title>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
	<link rel="stylesheet" href="/bower_components/jquery-ui/themes/flick/jquery-ui.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/styles.css"/>
	<link rel="stylesheet" href="css/login.css"/>
	
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
	<script src="/bower_components/angular-ui-date/src/date.js"></script>
	
	<script src="/node_modules/mustache/mustache.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>


	<!-- Material Design Lite -->
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-light_blue.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

	<style type="text/css">
		.demo-content {
		    border-radius: 2px;
		    padding: 80px 56px;
		    margin-bottom: 80px;
		}
	</style>

	<script type="text/javascript">
		function closeDrawer() {
		  document.getElementById("drawer").className = "mdl-layout__drawer"; 
		}
	</script>

</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	    <header class="mdl-layout__header">
		    <div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title"><a href="#/main"><img src="images/OrchidColor.png" style="width:5%;height:auto;"> Women on Bussiness </a>
				<span class='small'>BETA</span></span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->
				<div ng-controller="LoginController">
					<nav class="mdl-navigation mdl-layout--large-screen-only">
										
						{{#req.session.auth}}
							<p>Logged in! <a href='/logout'>logout?</a></p>
						{{/req.session.auth}}
						{{^req.session.auth}}
							<md-button class="" ng-href="/#/register">
							    Signup
							</md-button>
							<md-button class="md-primary md-raised" ng-click="showLogin($event)" flex flex-md="100">
							    Login
							</md-button>
						{{/req.session.auth}}
					    <div id="tt1" class="icon material-icons">shopping_cart</div>
							<div class="mdl-tooltip" for="tt1">
								Comming Soon
							</div>
					</nav>
				</div>
		    </div>
	    </header>
	 	<div class="mdl-layout__drawer" id='drawer'>
		    <span class="mdl-layout-title"><a href="/#/main"><img src="images/OrchidColor.png" style="width:30%;height:auto;"></a></span>
		    <nav class="mdl-navigation">
		    	<div ng-controller="LoginController">
					<nav class="mdl-navigation">									
						{{#req.session.auth}}
							<p class='mdl-navigation__link'>Logged in! <a onclick="closeDrawer()" href='/logout'>logout?</a></p>
						{{/req.session.auth}}
						{{^req.session.auth}}
							<md-button class="" ng-href="/#/register" onclick="closeDrawer()">
							    Signup
							</md-button>
							<md-button class="md-primary md-raised" ng-click="showLogin($event)" flex flex-md="100" onclick="closeDrawer()">
							    Login
							</md-button>
						{{/req.session.auth}}
					</nav>
				</div>
				<a class="mdl-navigation__link" onclick="closeDrawer()" href="/#/companies">List Companies</a>
				<a class="mdl-navigation__link" onclick="closeDrawer()" href="/#/products">List Products&Services</a>
				<a class="mdl-navigation__link" onclick="closeDrawer()" href="/#/blog">Amazing Histories Blog</a>
				<a class="mdl-navigation__link" onclick="closeDrawer()" href="/#/about">About</a>
				<!-- {{#req.session.auth}}
				<p>Logged in! <a onclick="closeDrawer()" href='/logout'>logout?</a></p>
				{{/req.session.auth}}
				{{^req.session.auth}}
				<a onclick="closeDrawer()" class="mdl-navigation__link" href="/#/login">Login</a>
				{{/req.session.auth}} -->
		    </nav>
	  	</div>
	 	<main class="mdl-layout__content">
		    <div ng-view class="view-frame">			
			</div>
		</main>
	</div>
</body>
</html>