<md-dialog ng-controller='EmailController'>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Contact the Vendor</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <md-icon md-svg-src="images/close.svg" aria-label="Close dialog" ng-click='cancel()'></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content style="max-width:800px;max-height:810px;"> 

    <form id='LoginForm' class='login-form'>
    <p>Use this form to send a message to the supplier of the product/service, we will let him know that you are interested in their products using our notification system. </p>
    <!-- <div class="group">
        <label>Product Name: {{selectedProduct}}</label>
      </div> -->
    <!--<div class="group">
      	<label>To: Vendor Email </label>
	  </div> -->
	  <br />
      <!-- <div class="group">
        <input type="email" name="from"><span class="highlight"></span><span class="bar"></span>
        <label>From</label>
      </div> -->
       <div class="group">
       <md-input-container flex>
        <!-- <input type="text" name="from"><span class="highlight"></span><span class="bar"></span> -->
        <textarea ng-model="notification.description" md-maxlength="5000" column="1" rows="1"><span class="highlight"></span><span class="bar"></textarea>
        <label>Message</label>
        </md-input-container>
      </div>
      <div class="md-actions" layout="row">
          
          <span flex></span>
          <md-button ng-click="cancel()"> <!---->
           Cancel
          </md-button>
          <md-button ng-click="" style="margin-right:20px;">
            Send
          </md-button>
        </div>
    </form>
  </md-content>
</md-dialog>
