<md-dialog > <!--style="max-width:800px;max-height:810px; "-->
<md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Login</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content style="max-width:800px;max-height:810px;"> 
    <form method='POST' id='LoginForm' class='login-form' action='/login'>
      <div class="group">
        <input type="email" name="email"><span class="highlight"></span><span class="bar"></span>
        <label>Email</label>
      </div>
      <div class="group">
        <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
      </div>
        <input class="button buttonBlue" type="submit" value="Log In">
      <!-- button type="button" class="button buttonBlue">Log in
        <div class="ripples buttonRipples" onclick='submit()'><span class="ripplesCircle"></span></div>
      </button> -->
      <p class="contextual-nav"><a href="#/register" ng-click="answer('not applicable')">Do not have an account yet? Register </a></p>
    </form>
  </md-content>
</md-dialog>
