<md-dialog > <!--style="max-width:800px;max-height:810px; "-->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Product Detail</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content style="max-width:800px;max-height:810px;"> 
    <form id='LoginForm' class='login-form'>
      <div class="group">
      <ul>
        <li>Product Name: </li>
        <li>Description: </li>
        <li>Category: </li>
        <li>Business Name: </li>
        <li>Country: </li>
        <li>Email: </li>
        <li>Phone: </li>
        <li>Website: </li>
        </ul>
      </div>

     <!--  <div class="md-actions" layout="row">
          <span flex></span>
          <md-button ng-click="">
           
          </md-button>
          <md-button ng-click="" style="margin-right:20px;">
            Send
          </md-button>
      </div> -->
    </form>
  </md-content>
</md-dialog>
