<html lang="en">
  <head>
      <style>
        .text {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
        }
      </style>
      <section class="header-large-img-infographic mdl-cell mdl-cell--12-col"></section> 
  </head>
  <body>
  <div>
  <p class="text">This infographic will show the trend of Women on Business . The goal is to have 1 million WOBs enter international markets by 2020. </p>
  <img class="header-img-infographic" src="/images/infographic.jpg" />
  </div>
  </body>
