<section class="header-large-img-main">


    <style type="text/css">
        
    .search{
        margin: 0px auto;
        /*height: 1024px;*/
        /*min-height: 1024px;*/
        width: 33%;
        /*position: fixed;*/
        display: block;
        vertical-align: center;
        align-content: center;
        margin-top: 50%;
        line-height: 36px;
        font-size: 32px;
        padding: 10px;
        border: none;
        border-bottom: solid 2px #c9c9c9;
        transition: border 0.3s;


    }

    .search:focus{
        border-bottom: solid 2px #969696;
    }

    .box{
        height: 100%;
        width: 100%;
        display: block;
        margin: 0px auto;
        min-height: 1024px;
    }
    </style>

    <div class="box mdl-grid" ng-controller="PrincipalController">
    	<!-- <section class="section--center mdl-cell mdl-cell--12-col">
        <div class="content mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone absolute-search"> -->
        	<!-- Displayed on Computer and Tablet -->
        	      <!-- Search -->
    	        
        	        <form class="box" action="/s" method="POST" >
        	          <input class='search' type="text" placeholder="Search great products..." name='search-text' name='main-search'>
        	        </form>

        	    <!-- Displayed on mobile -->
        	    <!-- <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-desktop"></div> -->
        	      <!-- Search button -->
        	    <!-- <button class="mdh-toggle-search mdl-button mdl-js-button mdl-button--icon mdl-cell--hide-tablet mdl-cell--hide-desktop">
        	        <i class="material-icons">search</i>
        	    </button>	 -->
        <!-- </div>	</section -->>
    </div>
</section>