  
<form method='POST' id='LoginForm' class='login-form' action='/user'>
  <h1>Signup</h1>
  <div class="group">
    <input type="email" name="email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <div class="group">
    <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <div class="group">
    <input name="business-name"><span class="highlight"></span><span class="bar"></span>
    <label>Business Name </label>
  </div>
    <input class="button buttonBlue" type="submit" value="Sign up!">
</form>
