@import url("icomoon.css");

.header {
	backface-visibility: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0.95;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 40;
	background-color: #fff;
}

.header-logo {
	/*background: rgba(0, 0, 0, 0) url("/images/wvef-80px.png") repeat scroll 0 0 / 300px 40px;*/
    display: inline-block;
    height: 40px;
    width: 300px;
	margin: 15px;
}

.company-logo-preview {
	visibility: hidden;
	display: none;
}

.content-container {
	width: 70%;
	box-sizing: border-box;
	margin: auto auto 0;	
	background-color: #fff;
	box-shadow: 0 1px 2px 0 #000;
}

.content-block {
	padding: 30px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.content-block .numeric-input {
	min-width: 250px;
}

.content-block-title {
	color: #000;
}

.req-field {
	color: red;
}

.content-block-bottom {
	margin-bottom: 90px;
	padding: 10px 12px 5px;
}

.card-box {
	margin-bottom: 15px;
}

.card-title {
	padding: 0 10px 0 10px;
}

.card-image {
	margin: 3px 0 3px 0;
}

.card-content {
	padding: 0 10px 0 10px;
}

.json-sidenav {
	max-width: 80%;
	width: 80%;
}

body, html {
	/*background: #002b54 none repeat scroll 0 0;*/
}

md-icon {
	font-size: 25px;
}

md-input-container {
	padding: 2px 2px 26px;
}

md-input-container.md-icon-float > label {
	margin-left: 36px;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
ul
{
	font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    list-style-type: none;
}
li{
	font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
}
.sc md-card-content  {
	padding: 0px;
}

md-input-container.md-input-invalid  {
	color: red; 
}

md-toast {
	position: fixed;
}

md-checkbox {
	font-size: 14px;
}

md-input-container .md-placeholder:not(.md-select-label), md-input-container label:not(.md-no-float) {
	font-size: 14px;
}

/*CUSTOM*/

/*Companies*/

#main-content{
	padding-top: 40px;
}


.header-large-img-main{
	background: url(/images/header-banner-large.jpg) center 100% no-repeat;
	background-size:cover;
	-webkit-background-origin:border;
	height: 450px;
	width: 100%;
}

.header-large-img-blog{
	background: url(/images/Banner-Blog.jpg) center 100% no-repeat;
	background-size:cover;
	-webkit-background-origin:border;
	height: 450px;
	width: 100%;
}

.header-large-img-pands{
	background: url(/images/Banner-ProductsAndServices.jpg) center 100% no-repeat;
	background-size:cover;
	-webkit-background-origin:border;
	height: 450px;
	width: 100%;
}

.header-large-img-companies{
	background: url(/images/Banner-Companies.jpg) center 100% no-repeat;
	background-size:cover;
	-webkit-background-origin:border;
	height: 450px;
	width: 100%;
}

.header-large-img-about{
	background: url(/images/Banner-About.jpg) center 100% no-repeat;
	background-size:cover;
	-webkit-background-origin:border;
	height: 450px;
	width: 100%;
}
.header-large-img-entry{
	background: url(/images/Banner-Companies.png) center 100% no-repeat; /*cambiar imagen */
	background-size:cover;
	-webkit-background-origin:border;
	height: 450px;
	width: 100%;
}
.main-search{
	display: block;
	right: 50%;
	left: 50%;
	margin: 0 auto;
}

.header-large-img-frontpage{
	background: url(/images/Banner-Frontpage.jpg) center left no-repeat;	
    background-repeat: no-repeat;
    background-position: 80% auto;
	background-size:cover;
	-webkit-background-origin:border;
	height: 450px;
	width: 100%;
}

.header-img-top5{
	background: url(/images/Top5.png) center center no-repeat;
	background-repeat: no-repeat;
    background-position: 70% auto;
	background-size:cover;
	background-size:cover;
	-webkit-background-origin:border;
	height: 295px;
	width: 360px;
}